/* --- Fuentes --- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans:wght@400;700&family=Playfair+Display:wght@700&display=swap");

:root {
  --primary-color: #000000;
  --text-color: black;
  --heading-color: #1a1a1a;
  --card-bg: #fff;
  --border-color: #e0e0e0;
  --transition-speed: 0.3s;
}

/* --- Estilos Globales --- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* --- Estilos Base del Body --- */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

/* --- Estilos de Encabezados (h1, h3, h4, h5, h6) --- */
h1,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  color: var(--heading-color);
  margin-top: 0;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.8em;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
  font-size: 3em;
  color: blue;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

/* --- Estilos de Enlaces --- */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

a:hover {
  color: #333333;
}

/* --- Estilos de Botones --- */
.button {
  background-color: white;
  color: black;
  border: solid 1px;
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  transition: background-color var(--transition-speed), transform 0.3s ease;
}

.button:hover {
  background-color: #333333;
  transform: translateY(-2px);
}

/* --- Clases de Layout y Sección --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 100px 0;
  text-align: center;
}

/* --- Estilos para Secciones Oscuras --- */
.dark-section {
  color: black;
}

.dark-section h2,
.dark-section h3,
.dark-section p {
}
