<app-header></app-header>

<main>
  <section id="hero" class="hero-section">
    <div class="container hero-content">
      <div class="hero-text">
        <h1>FullStack<br>Developer</h1>
        <div>
          <img src="../assets/images/perfil.jpg" class="profile-main-img">
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section about-section">
    <div class="container">
      <div class="about-flex">
        <div class="about-left">
          <p class="section-subtitle">Acerca de mi</p>
          <h2>Diseño con propósito: accesibilidad, velocidad y claridad visual en cada interfaz.</h2>
          <div class="about-video-placeholder">
            <img src="#" alt="About Me Video" class="video-thumbnail">
            <button class="play-button"><i class="fas fa-play"></i></button>
          </div>
        </div>
        <div class="about-right">
          <p>Diseñar interfaces va más allá de lo visual: aplico principios de UX/UI, accesibilidad y buenas prácticas
            de frontend para crear experiencias digitales intuitivas que resuelven problemas reales de forma eficiente.
          </p>
          <div class="about-stats">
            <div class="stat-item">
              <h3>+320</h3>
              <p>You can bring to simplify your password management</p>
            </div>
            <div class="stat-item">
              <h3>+280</h3>
              <p>You can bring to simplify your password management</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="section services-section dark-section">
    <div class="container">
      <p class="section-subtitle">Servicios</p>
      <div class="services-intro">
        <h2>Una mirada integral a los servicios que ofrezco.</h2>
      </div>
      <app-services></app-services>
    </div>
  </section>

  <section id="experience" class="section experience-section">
    <div class="container">
      <p class="section-subtitle">Experiencia</p>
      <div></div>
      <h2>Evolución profesional: una mirada al pasado</h2>
      <app-experience></app-experience>
    </div>
  </section>

  <section id="portfolio" class="section portfolio-section dark-section">
    <div class="container">
      <p class="section-subtitle">Portfolio</p>
      <div class="portfolio-info"></div>
      <h2>Explore my portfolio of creative solutions</h2>
      <p class="portfolio-tagline">Explore my portfolio full of creative solutions</p>
      <app-portfolio></app-portfolio>
    </div>
  </section>

  <section id="notes" class="section notes-section">
    <div class="container about-flex">
      <app-notes></app-notes>
    </div>
  </section>

  <section id="contact" class="section contact-section dark-section">
    <div class="container">
      <h2>Let's Connect There</h2>
      <button class="button inverted">Hire Me Now</button>
    </div>
  </section>
</main>

<app-footer></app-footer>